@import "./variables.scss";

header {
    color: $textColor;
    background: rgb(24, 182, 32);
    display: flex;
    justify-content: center;


    button {
        background: $primaryBtn;
        // use & operator to add other options
        &:hover {
            background: blue;
        }

        // to add text
        &::after {
            content: " You";
        }
    }
}